* {
  font-family: 'Outfit', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: hsl(212, 45%, 89%);
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  max-width: 300px;

  text-align: center;

  display: flex;
  flex-direction: column;

  padding: 1.6rem;
}

.card>* {
  display: block;
}

.card__image {
  border-radius: calc(1rem - 5px);
  width: 100%;
  object-fit: contain;
}

.card__headline {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(218, 44%, 22%);

  margin-top: 1rem;
}

.card__desc {
  font-weight: 400;
  color: hsl(220, 15%, 55%);

  margin: 1rem 0;
}

.card__headline, .card__desc {
  margin: 1rem 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: auto;
}

/* 
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */