* {
  font-family: 'Outfit', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #d7e1ee;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  max-width: 300px;

  text-align: center;

  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.card>* {
  display: block;
}

.card__image {
  border-radius: calc(1rem - 5px);
}

.card__headline {
  font-weight: 700;
}

.card__desc {
  font-weight: 400;
}

.card__headline, .card__desc {
  margin: 1rem
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  margin-top: auto;
}